// css store in var

$bg: lightblue;
$tc: darkblue;
$fs: 18px;

.mystyle{
    background-color: $bg;
    color: $tc;
    font-size: $fs;
}


//in sass nested 

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      background-color: $bg;
      color: $tc;
    }
  }


  h2{
    font: {
      family: Helvetica, sans-serif;
      size: 18px;
      weight: bold;
    }
    text: {
      align: center;
      transform: lowercase;
      overflow: hidden;
      decoration: underline;
    }      
}



.button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
  }

  .primary  {
    @extend .button-basic;
    background-color: rgb(9, 106, 233);
  }
  
  .danger  {
    @extend .button-basic;
    background-color: rgb(233, 61, 9);
  }

  .success  {
    @extend .button-basic;
    background-color: rgb(17, 233, 9);
  }